/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*/
.show-card {
  float: left;
   margin-right: 2%;
   border-radius: 4px;
   text-align: left;
   width: 32%;
   height: 240px;
   padding-bottom: 19.8%;
  overflow: hidden;
   margin-bottom: 2%;
 }

.show-card:nth-child(3n), .search > div > a:nth-child(3n) > .show-card {
   margin-right: 0;

}

.progress {
  display: block;
  clear: both;  
}
.myContainer {
  width: 45%;
  text-align: center;
}
.question-text {
  text-align: center;
  font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 35px;
}
.subquestion-text {
  text-align: center;
  font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

.radio {
  width: 150px;
  height: 150px;
  float: left;
  margin: 3px;
  text-align: center;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  font-size: 20px;
  line-height: 32px;
  font-weight: lighter;
  letter-spacing: -0.01em;
 
}
.answer-row {
  align-content: center;
}

.filter {
  margin: 50px auto;
  width: 90%;
}

.filter-menu {
  text-align: center;
}

.filter-results {
  margin-top: 30px;
}

.blocks > * {
  animation: flyIn 0.5s linear;
  border: 1px solid #000000;
  display: inline-block;
  margin-left: -1px;
  margin-top: -1px;
}

.blocks_3up > * {
  width: 33.333333%;
}

.feature {
  padding: 20px 5px;
  text-align: center;
  transition: all 0.3s linear;
}

.feature:hover {
  background: #e3393e;
  color: #ffffff;
}

.feature-bd,
.feature-ft {
  margin-top: 20px;
}

@-webkit-keyframes flyIn { from { opacity:0;
transform: translateY(50%);} to { opacity:1; transform: translateY(0); }  }
   @-moz-keyframes flyIn { from { opacity:0;
transform: translateY(50%);} to { opacity:1; transform: translateY(0); }  }
     @-o-keyframes flyIn { from { opacity:0;
transform: translateY(50%);} to { opacity:1; transform: translateY(0); }  }
        @keyframes flyIn { from { opacity:0;
transform: translateY(50%);} to { opacity:1; transform: translateY(0); }  }